In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("appearances_cleaned.csv")

In [3]:
data.head()

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,2469214_124866,2469214,124866,202,1283,2014-07-17,Lorenzo Burnet,ELQ,0,0,0,0,90
1,2469214_124888,2469214,124888,202,202,2014-07-17,Johan Kappelhof,ELQ,0,0,0,0,90
2,2469214_12765,2469214,12765,370,370,2014-07-17,Russell Anderson,ELQ,0,0,0,0,90
3,2469214_12804,2469214,12804,370,370,2014-07-17,Barry Robson,ELQ,0,0,0,0,88
4,2469214_12817,2469214,12817,370,465,2014-07-17,Jamie Langfield,ELQ,0,0,0,0,90

In [4]:
### randomly select 100000 rows

data = data.sample(n=100000, random_state=1)

In [5]:
# write to csv
data.to_csv("appearances_cleaned_sample.csv", index=False)